/* navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #F0F0F0;
  }
  
  /* link styles */
  .links {
    text-decoration: none;
    color: black;
    margin-right: 1rem;
    font-size: 1rem;
  }
  
  /* active link styles */
  .links.active {
    /* Inherits styles from activeStyle object defined in your React component */
    /* fontWeight: bold; */
    text-decoration: underline;
    color: red;
  }